/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #322020;
    color: white;
}

header {
    border-bottom: 1px solid gray;
    padding: 15px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.logo-text {
    display: flex;
    align-items: center;
    flex: 1;
}

.logo {
    width: 150px;
    margin-right: 20px;
}

.header-text {
    color: white;
    font-size: 1.9rem;
    margin-right: auto;
    text-align: center;
}

.nav-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding-top: 1%;
}

.nav {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    flex: 1;
}

.btn-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
}

.btn-vende-auto-item {
    margin-left: auto;
}

.btn-vende-auto-item .nav-link {
    background-color: #f4c20d;
    color: black;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.btn-vende-auto-item .nav-link:hover {
    background-color: #e5b007;
}

.nav-item {
    margin: 0;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Estilos para los iconos de redes sociales en el header */
.header-social-icons {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.header-social-icons .social-icon {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.header-social-icons .social-icon:hover {
    transform: scale(1.1);
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.cta-button {
    background-color: #f4c20d;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.cta-button:hover {
    background-color: #e5b007;
}

/* Modelos Destacados Section */
.modelos-destacados {
    padding: 50px 15px;
    text-align: center;
}

.modelos-destacados h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.carousel {
    position: relative;
    max-width: 800px;
    margin: auto;
    overflow: hidden;
}

.carousel-inner {
    display: flex;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease-in-out;
    display: none;
}

.carousel-item.active {
    display: block;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.details-button {
    background-color: #f4c20d;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
}

.details-button:hover {
    background-color: #e5b007;
}

/* Servicios Section */
.servicios {
    padding: 50px 15px;
    text-align: center;
}

.servicios h2 {
    margin-bottom: 30px;
    font-size: 2rem;
}

.servicios h4 {
    margin-bottom: 30px;
    font-size: 1rem;
}

.services-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.service-item {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}

.service-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Estilos para el footer */
footer {
    background-color: #1a1a1a;
    color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.footer-container > div {
    flex: 1 1 200px;
    margin: 10px;
}

.footer-about,
.footer-contact,
.footer-links,
.footer-social {
    text-align: left;
}

.footer-about p,
.footer-contact p {
    font-size: 14px;
    line-height: 1.5;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a {
    color: #f0f0f0;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-links ul li a:hover {
    color: #f4c20d;
}

.footer-social-icons {
    display: flex;
    gap: 10px;
    justify-content: left;
    margin-top: 10px;
    
}

.footer-social-icons a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
    
}

.footer-social-icons a img:hover {
    transform: scale(1.1);
}

.footer-bottom {
    background-color: #111;
    padding: 10px 0;
    font-size: 14px;
    border-top: 1px solid #444;
}

.footer-bottom p {
    margin: 0;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .logo-text {
        flex-direction: column;
        align-items: center;
    }

    .header-text {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .btn-container {
        margin-top: 20px;
    }

    .nav-link {
        padding: 5px;
    }

    .grid, .services-grid {
        flex-direction: column;
        align-items: center;
    }

    .header-social-icons {
        position: static;
        margin-top: 20px;
    }
}
