// _variables.scss

// Colores
$color-fondo-oscuro: #322020;
$color-header-footer: #1a1a1a;
$color-texto-principal: #f0f0f0;
$color-boton-principal: #f4c20d;
$color-boton-hover: #e5b007;

// Tipografía
$fuente-principal: 'Arial, sans-serif';
